<div fxLayout="row wrap">

    <div fxFlex>

      <div fxLayout="column">

        <div>

          <img src="./assets/" />
        </div>

        <div>
          <em>
            Photo here <a class="attribution-link" href="" target="_blank"></a>
          </em>
        </div>
      </div>
    </div>

    <div fxFlex>
      <h1 class="blue">Who was J.R.R Tolkien?</h1>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem laboriosam rerum enim sed est. Dicta molestiae architecto nemo recusandae possimus sunt debitis, quae doloribus autem odio fugiat, exercitationem, sapiente eveniet.
      </p>

      <em>Biography: <a href=""></a></em>
    </div>
</div>
