<div fxLayout="row wrap">

  <div fxFlex>
    <mat-card class="mat-evevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
        Navigation
      </mat-card-title>

      <br />

      <mat-cad-content class="align-center">
        <p>
          505 Main Street
        </p>

        <p>
          Omaha, Nebraska
        </p>

      </mat-cad-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon coor="primary">Phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content>
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1-800-555-5555
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many locations in the Omaha metro area.
  </p>
</div>
